#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --navbar-height: 64px;
}

.main-content {
  padding-top: var(--navbar-height);
}

.deck-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.deck-row select,
.deck-row button {
  height: 2.5rem;
  font-size: 1rem;
}

.new-card-btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.new-card-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.learn-btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.learn-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.filter-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}

.filter-btn {
  background: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.easy-btn {
  color: #28a745;
}
.medium-btn {
  color: #ffc107;
}
.hard-btn {
  color: #dc3545;
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 3px;
  background: currentColor;
  border-radius: 2px;
}

.filter-btn:hover {
  opacity: 0.8;
}

/* .content {
  display: flex;
  flex: col;
  position: relative;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin-right: 5vh;
} */

.alarm {
  margin-top: 0;
  margin-right: 15vh;
}
